<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script> -->
<!doctype html>
<html lang="en">
<title>MSEP</title>

<link rel="stylesheet" href="../public/css/navbar.css">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  
<body>
    <center>
    <div class="container">
    <div id="nav-placeholder">

    </div>
    
    <script>
    $(function(){
      $("#nav-placeholder").load("navbar-stud.html");
    });
    </script><br><br><br>
<div>
    <h3 style="color: #403b87; margin-top: 2%;">OFFERED COURSES</h3>
    
    <hr>
  </div>

</div>
</center>
<div style="margin-left: 350px; margin-right: 350px; margin-top: 4%;">
<% if(courses!=null) { %>
    <table id="allcourses" class="table table-striped table-bordered" style="color: #403b87;">
        <thead>
        <tr>
            <th>Name</th>
            <th>Course Code</th>
            <th>Course Instructor</th>
            <th>Prerequisite</th>
            <th>Enroll</th>
        </tr>
    </thead>
    <tbody>
        <% courses.forEach(function(item){ %>
            <tr>
                <td>
                    <%= item.name%>
                </td>
                <td>
                    <%= item.code%>
                </td>
                <td>
                    <%= item.instructor%>
                </td>
                <td>
                    <%= item.prerequisite%>
                </td>
                <td>
                    <%   if(item.enrolledstud.includes(user.email)==false && item.offlineStud.includes(user.email)==false) { %>
                    <input id="<%=item.code%>" type="button" value="Enroll"  onclick='datacode("<%=item.code%>")'>
                    <% }
                    else{ %>
                        <input type="button" value="Enrolled"  disabled>
                        <% }%>

                </td>

            </tr>
            <% }) %>
        </tbody>
    </table>
    <% } %>
</div>
</body>
<script>
    $(document).ready(function () {
        $('#allcourses').DataTable();
    });
</script>
<script>
function datacode(code){
$.get(
    "enroll",
    {code : code},
    function(data) {
       alert(data);
       location.reload();
    }
);
}
</script>
</html>