<!doctype html>
<html lang="en">
<title>MSEP</title>

<!-- <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.3/css/jquery.dataTables.css"> -->
<link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet">
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
<link rel="stylesheet" href="http://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css">
<script type="text/javascript" src="http://cdn.datatables.net/1.10.2/js/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

<body>
<div>
    <h1>Course Page</h1>
</div>
<hr>
<div>
    <h2>Course </h2>
    <% if(course!=null) { %>
        <div> This is a single course page
            <h1>
                <%=course.name%>
            </h1>
            <p>Code &emsp;&emsp;&emsp;&emsp;&emsp;: <%=course.code%>
            </p>
            <p>Instructor &emsp;&emsp;&emsp; : <%=course.instructor%>
            </p>
            <p>Available Seats &emsp;: <%=course.offlineSeats - course.bookedSeats%>
            </p>
            <br>
            In which mode would you take the class?<br>
            <!-- <label>Offline</label><input type="checkbox" value="offline" id="offline-class"><br> -->
            <!-- <label>Online</label><input type="checkbox" value="online" id="online-class"><br> -->
            <%if(course.offlineSeats-course.bookedSeats) { %>
                <label style="color: brown;">Offline</label>
                <input type="checkbox" value="Offline" id="acknowledgement"><br>
                <div id="covid-acknowlegde" style="display: none;">
                    <h4>You must check the box below to attest that the following information is true and accurate:
                    </h4>
                    <p>I am fully vaccinated and have received the policies and procedures related to appropriate PPE
                        utilization and wearing of face coverings while at university and agree to abide by them.</p>
                    <label style="color: darkgreen;">I agree</label><input type="checkbox" value="I agree" onclick='bookSeat("<%=course.code%>")'><br>
                </div>
                <% } else{ %>
                    <label style="color: brown;">Offline</label><input type="checkbox" value="Offline" disabled>
                    <% }%>
                        <% } %>
                            <br><label style="color: brown;">Online</label>
                            <input type="checkbox" value="Online" id="class-meetlink">
                            <div id="onlinecheck" style="display:none">
                                <br>Meetlink for online class of <%=course.name%> is : <p style="color: blue;">
                                        <%=course.meetlink%>
                                    </p>
                            </div>
        </div>
</div>
</body>
<script>
    function bookSeat(code) {
        $.get(
            "bookseat",
            
            { code: code },
            function (data) {
                alert(data);
            }
        );
    }
    
    $('#acknowledgement').change(function () {
        $('#covid-acknowlegde').toggle();
    });
    $('#class-meetlink').change(function () {
        $('#onlinecheck').toggle();
    });
</script>