<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<div>
    <h1>Course Page</h1>
</div>
<hr>
<div>
    <h2>Course </h2>
<% if(course!=null) {  %>
    <div> This is a single course page
    <h1> Course : <%=course.name%></h1>
    <h2>Course Code : <%=course.code%></h2>
    <h2>Cap for course is: <%=course.cap%></h2>
    <!-- <h2>Offline Seats Available: <%=course.offlineSeats%> </h2> -->
    <form method="get" action="/updateseat" >
        <label>Available Offline Seats for</label>
        <input name="course" type="text" value="<%=course.code%>" placeholder="<%=course.code%>"> 
        <input name="offlineSeats" type="number" value="<%=course.offlineSeats%>" placeholder="<%=course.cap%>"> 
        <!-- <button class="btn btn-success" type="submit">Enter Value</button> -->
        <!-- <button type="reset">Reset</button> -->
        <input type="submit" value="submit"/>
    </form>
    <h2>Meetlink: <%=course.meetlink%></h2>
    <% } %> </div>
</div>
<div>
    Number of students for Next offline class : <%=course.bookedSeats%>
</div>
Students attending offline classes are :
<% if(course.offlineStud!=null) { %>
    <!-- <%=course.offlineStud.length%> -->
    <table>
        <% for(var i=0; i < course.offlineStud.length; i++) { %>
           <tr>
             <td><%= course.offlineStud[i]%></td>
           </tr>
        <% } %>
        </table>
    <% } %> 
<script>

</script>